<div class="row">
	<div class="small-4 column"><h1>CAP DEVANT</h1></div>
	<div class="small-4 column end"><h2>Accroche</h2></div>
</div>

<nav class="top-bar" data-topbar>
     <section class="top-bar-section">

    <ul class="left">
      <li><a href="#">Titre1-MenuHoriz</a></li>
      <li><a href="#">Titre2-MenuHoriz</a></li>
      <li><a href="#">Titre3-MenuHoriz</a></li>
      <li><a href="#">Titre4-MenuHoriz</a></li>
    </ul>
</section>
</nav>
