<div class="row">
	<div class="small-4 column"><h1>CAP DEVANT</h1></div>
	<div class="small-4 column end"><h2>Accroche</h2></div>
</div>

<nav class="top-bar" data-topbar>
    <section class="top-bar-section">
	    <ul class="left">
	      <% unless @main_menu_items.nil? %>
			  <% @main_menu_items.each do |t|%>
			 	<li><a href="#"><%= t.name %></a></li>
			  <% end %>
		  <% end %>
	    </ul>
	</section>
</nav>





